__pycache__/
*.py[cod]
outputs/*
!outputs/.gitkeep
data/BR-Gen/
data/mirrored/*/subsets/*/manifest/
data/mirrored/*/subsets/*/images/
data/mirrored/*/subsets/*/masks/
data/mirrored/*/subsets/*/predictions/
